html {
    font-size: 62.5%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #05cdff80, 20%, rgba(226, 226, 226, 0.95)),
      url(../img/happy.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    font-weight: bolder;
  }
  
  .icon-weather {
    height: 8rem;
    line-height: 8rem;
    align-self: start;
    margin-left: 4rem;
    font-size: 1.3rem;
  }
  
  main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-main {
    width: 60vw;
    height: 50vh;
    background-color: #f0f0f0cc;
    box-shadow: .5rem .5rem 3rem rgb(63, 62, 62);
    border-radius: 1rem;
    padding: 5rem 8rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    font-size: 2.6rem;
  }

  #textJoke {
    font-size: 1.6rem;
  }
  
  
  h1 {
    font-size: 2.5rem;
  }
  
  p {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .container-button {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .container-buttonScore {
    display: flex;
    justify-content: space-around;
    height: 3rem;
    margin:10px 0 10px 0;
  }
  


  .buttonScore {
    border: none;
    background-color: transparent;
    font-size: 2.8rem;
  }
  
  .button-joke {
    padding: 2rem 3.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    background-color: #06b8b8;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
  }